body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(80, 77, 77, 0.856);
  width: 100%;
  overflow-x: hidden;
}

.UN {
  display: flex;
  max-width: 60%;
}
h1 {
  margin-left: 367px;
  color: rgb(84, 81, 255);
}
ul {
  list-style: none;
  display: flex;

  justify-content: space-evenly;
  margin-top: 35px;
  width: 600px;
  margin-left: -50px;
  font-size: 18px;
  color: rgb(240, 240, 240);
  
}
h6 {
  margin-left: 15%;

  margin-top: 40px;
  display: block;
  color: rgb(240, 240, 240);
  
}
.i1 {
  margin-top: 38px;
  margin-left: 50px;
  
}
label {
  height: 18px;
  
}
input {
  margin-top: -15px;
  color: rgba(235, 229, 229, 0.952);
  height: 50px;
  border-color: rgb(13, 29, 255);
  outline: none;
  background-color: rgba(59, 58, 58, 0);
  width: 130px;
}

.LIGNE::after {
  content: "";
  width: 63%;
  height: 2px;
  background-color: rgb(255, 82, 82);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  animation: LIGNE 2s forwards;
  transform-origin: center;
}

@keyframes LIGNE {
  100% {
    transform: translateX(-50%) scale(1);
  }
}

.alphabet {
  display: flex;
  margin-top: -20px;
  margin-left: 25%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.RONDE {
  margin-top: 40px;
  margin-bottom: 20PX;
  border: 2px solid blue;
  background: rgb(255, 58, 58);
  width: 30px;
  border-radius: 30px;
  height: 30px;
  color: rgb(228, 220, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.section1 {
  display: grid;
  grid-template-columns: 40% 30%;
  margin-left: 20%;
  text-align: center;
}
.all {
  display: flex;
  flex-direction: row;
}

.section2 {
  display: flex;
  margin-left: 20%;
  width: 32%;
  justify-content: space-around;
  border: 2px SOLID yellow;
}
.artice,
.artice2,
.artice3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image1,
#image2,
#image3 {
  width: 200px;
}
h2{
  color: rgb(240, 240, 240);
}
.SECTION3 {
  margin: 0 auto;
  width: 70%;
  margin-left: 20%;
  height: 700px;
  display: grid;
  grid-template-columns: 18% 18% 18% 30%;
  grid-template-rows: 50px repeat(2, 300px);
  grid-template-areas:
    " l l l t "
    " a b c t "
    " d e f t ";
   
}
.l {
  grid-area: l;

  margin-top: -20px;
}
.t {
  grid-area: t;
 
  width: 300px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: rgb(240, 240, 240);

}
.a {
  grid-area: a;
  margin-top: 0;
  height: 200px;
   width: 230px
}
.b {
  grid-area: b;
 
}
.c {
  grid-area: c;
 
}

.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
h2 {
  margin-top: 0;
  text-align: center;
}
h3 {
  text-align: center;
  color: rgb(240, 240, 240);
}
.top1,
.top2,
.top3 {
  text-align: left;
  padding-left: 5px;
  display: flex;
  margin-left: 5px;
  cursor: pointer;
}
#date {
  margin-top: 50px;
}
.imagetop1 {
  padding-right: 5px;
}
.roux {
  width: 10px;
  height: 30px;
  background-color: yellow;
}
.flexbox {
  display: flex;
}
h4 {
  font-size: 30px;
  margin-left: 35%;
  color: rgb(240, 240, 240);
}

h6 {
  font-size: 20px;
  margin-left: 23%;
}
.flexbox2 {
  display: flex;
}
.p1 {
  margin-left: 15%;
  margin-top: 2px;

  text-align: left;
  color: rgb(214, 210, 210);
}
.p2 {
  margin-top: 0px;
  Color: rgb(214, 210, 210);
  margin-left: 14%;
}
.img{
 
  height: 230px;
  width: 200px;
  margin-left: 20px;
 
 }
@media screen and (max-width: 1660px) {
  .i1 {
    margin-left: 20px;
  }
  .ul {
    display: block;
  }
  h1 {
    font-size: 25px;
    width: 50px;
  }
 .img {
   width: 180px;
 }
 .p1{
   margin-left: 15%;
 }

}
@media screen and (max-width: 1514px) {
  h1 {
    margin-left: 300px;
  }
  
  .img{
    width: 160px;
  }
}
@media screen and (max-width: 1415px) {
  h1 {
    text-align: center;
  }
  ul {
    text-align: center;
    margin-left: -100px;
  }

}
@media screen and (max-width: 1320px) {
  ul {
    margin-left: -170px;
  }
}
@media screen and (max-width: 1380px) {
  ul {
    margin-left: -170px;
  }
  .SECTION3{
    display: grid;
  grid-template-columns: 18% 18% 18% 30%;
  grid-template-rows: 50px repeat(2, 300px);
  grid-template-areas:
    " l l c t "
    " a b c t "
    " d e d t  ";
  }
  
.c{
  margin-top: -40px;
}
.l{
  margin-left: -46%;
}
.img{
  width: 120px;
}
h3{
  margin-left: -70px;
}
.t{
  width: 300px;
}


}

@media screen and (max-width: 1669px) {
.p2{
  margin-left: 3%;
}
}

@media screen and (max-width: 1381px) {
  .p2{
    margin-left: 1%;
    font-size: 14PX;
  }
  }
  .p1{
    margin-left: 15%;
    font-size: 14PX;
    F
  }
@media screen and (max-width: 1271px) {
  ul {
    font-size: 15px;
    width: 480px;
    border: 2px solid yellow;
    margin-left: -150px;
  }
}
h3{
  font-size: 14px;
}


@media screen and (max-width: 1164px) {
  ul {
    font-size: 15px;
    width: 400px;
    border: 2px solid yellow;
    margin-left: -170px;
  }
}
@media screen and (max-width: 1043px) {
  ul {
    font-size: 15px;
    width: 400px;
    border: 2px solid yellow;
    margin-left: -200px;
  }
}
